.addtask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 179, 146);
  border-radius: 999px;
  margin-right: 5px;
  padding: 10px;
  height: 30px;
  transition: transform 100ms ease-in;
}

.addtask:hover {
  transform: scale(1.04);
}

.addtask__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.addtask input {
  border: none;
  outline-width: 0;
  width: 100px;
  background-color: rgb(248, 179, 146);
}

.addtask__form__icon {
  color: rgb(22, 16, 50);
}

.addtask__form__icon:hover {
  cursor: pointer;
}
